.service-container {
    padding: 5rem 3rem;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.service-container .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 3rem;
    justify-content: space-between;
}

@media (max-width: 1150px) {
    .service-container {
        padding: 5rem 2rem;
    }
    .service-container .services {
        grid-gap: 2rem;
    }
}
@media (max-width: 768px) {
    .service-container .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .service-container .services {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 350px) {
    .service-container {
        padding: 5rem 1.5rem;
    }
    .service-container .services {
        grid-gap: 2rem 0;
    }
}
