.learning-btn {
    border: 1px solid #3ef8b7;
    outline: none;
    background-color: #3ef8b7;
    color: #000;
    font-size: calc(0.75rem + 0.25vw);
    text-transform: capitalize;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    padding: 2% 30%;
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.2s ease-in;
}

.learning-btn:hover {
    background-color: #000;
    color: #3ef8b7;
}
