.sec-title {
    font-size: calc(1.2rem + 0.75vw);
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.fancy-text {
    color: #f9a424;
}
